* {
	margin: 0;
	padding: 0;
}
body {
	background: #ffffff;
}
.upside-logo {
	display: flex;
	background-color: #000000;
	width: 100%;
	height: 105px;
}
.upside-logo img {
	margin: 10px 0px 0px 100px;
}
.upside-menu {
	flex: 1;
	margin: 30px 0px 10px 0px;
	text-align: right;
}
.upside-menu a{
	margin-right: 40px;
	font-size: 20px;
	text-decoration: none;
	color: #ffffff;	
}
.conteiner {
	margin-left: 50px;
}
#conteiner-first-sentense {
	margin-top: 100px;
	font-family: Times-New-Roman;
	font-style: italic;
	font-weight: 500;
	font-size: 35px;
}
#conteiner-second-sentense {
	font-size: 13px;
	font-family: Times-New-Roman;
}
.conteiner-picture{
	margin: 100px 50px 0px;
	text-align: right;
}
.conteiner-article {
	display: flex;	
}
.conteiner-article p{
	text-align: justify;	
}

.conteiner-title-article {
	font-size: 35px;
	font-style: italic;
	font-weight: 500;
}
.conteiner-text-article {
	font-size: 13px;
	text-indent: 1.5em;
	margin-right: 50px;
}
.conteiner-text-article-right {
	margin-right: 100px;
}
.downside-copyright {
	background-color: #000000;
	width: 100%;
	height: 100px;	
	text-align: center;
	margin-top: 20px;
}
.downside-copyright a {
	text-decoration: none;
	color: #ffffff;
	font-size: 30px;
	font-style: italic;
}